<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Sobre Nosotros</title>
    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="../css/styles.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/7b94230812.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">#AppName</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 50vh;">
                    <li class="nav-item">
                        <a class="nav-link active disabled" href="./nosotros.html">Sobre nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="./actividades.html">Actividades</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-light form-control me-1" type="submit">+</button>
                    <button class="btn btn-light form-control ms-1" type="submit">Acceder</button>
                </form>
            </div>
        </div>
    </nav>
    <!--Explora-->
    <div class="row-c padding-m">
        <div class="column-66 padding-m padding-right">
            <h5>Explora</h5>
            <br>
            <strong>#AppName</strong>
            <!-- <h2><strong>#AppName</strong> es un club para explorar, desarrollar y compartir nuestra creatividad natural</h2> -->
            <h4>Somos un club para explorar, desarrollar y compartir nuestra creatividad. Profesoras y profesores de todo el mundo publican aquí sus actividades, se inspiran en las de otros y colaboran en proyectos para construir juntos el futuro de la educación.</h4>
        </div>
        <div class="column-1 padding-s">
            <button class="btn btn-light cen" type="submit"><i class="fa-solid fa-shuffle"></i></button>
        </div>
        <div class="column-1 padding-s">
            <div class="column-4 padding-s">
                <img src="../img/8.jpg" alt="" class="target-s">
            </div>
            <div class="column-4 padding-s">
                <img src="../img/5.jpg" alt="" class="target-s">
            </div>

            <div class="column-4 padding-s">
                <img src="../img/4.jpg" alt="" class="target-s">
            </div>
            <div class="column-4 padding-s">
                <img src="../img/1.jpg" alt="" class="target-s">
            </div>
        </div>
    </div>
    <!--Topics-->
    <header class="text-white flex padding-l">
        <button class="btn btn-light m-1" type="submit"><i class="fa-solid fa-plus"></i></button>
        <button class="btn btn-light m-1" type="submit">navega</button>
        <button class="btn btn-light m-1" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
    </header>
    <div class="row-c padding-m">
        <div class="column-1 padding-m">
            <h5>Topics</h5>
        </div>
        <div class="column-66 padding-m padding-right">
            <!-- <h2><strong>#AppName</strong> es un club para explorar, desarrollar y compartir nuestra creatividad natural</h2> -->
            <h4>#Matemáticas #Ciencias #Tecnología #Inglés #Informática #Plástica #Deporte</h4>
        </div>
    </div>
</body>

</html>